<div style="margin: 2%;">
    <div class="layout-row flex margin-30">
      <div class= "flex-80 sc-title"> STORIES </div>
    </div>
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
        <div class="layout-row flex">
          <div class="flex-90">
            {{#text.headline}}
              <p>
                {{#if model.name}}
                  {{model.name}}
                {{else}}
                  Create New Scene
                {{/if}}
              </p>
            {{/text.headline}}
          </div>
          <div class="flex-10">
            {{#if model.shareImage}}
              {{#paper-button primary=true onClick=(action "hideScene" model)}} <p>Hide</p> {{/paper-button}}
            {{else}}
              {{#paper-button primary=true onClick=(action "shareScene" model)}} <p>Share</p> {{/paper-button}}
            {{/if}}
          </div>
        </div>
        {{/title.text}}
      {{/card.title}}

      {{paper-divider}}

      {{#card.image src=imageSource class="sceneEditImg"}}Add image{{/card.image}}
      <div class="sceneButton">
        {{image-upload class="randomMargin" updateRecord=(action "updateRecord") linkName="Change Image"}}
      </div>

      {{#card.content}}
        <div class="layout-column flex">
          <div class="flex-10">
            <div class="layout-row flex">
              <p class="flex-20"> Name: </p>
              {{input class="flex-40 textAreaWidth" value=model.name}}
            </div>
          </div>
          <div class="flex-10">
            <div class="layout-row flex">
              <p class="flex-20"> Secret story details: </p>
              {{textarea class="flex-80 textAreaWidth" rows="5" value=model.secretStoryDetails}}
            </div>
          </div>
        </div>
      {{/card.content}}
      {{#card.actions }}
          {{#paper-button primary=true onClick=(action "askDelete")}}Delete{{/paper-button}}
          {{#paper-button primary=true onClick=(action 'goBack')}}Cancel{{/paper-button}}
          {{#paper-button primary=true onClick=(action 'saveRecord')}}Save{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
</div>

{{#if deleteDialog}}
  {{partial "delete-dialog"}}
{{/if}}
